node-red.flow
[{"id":"57062b27.6c0084","type":"mqtt in","z":"7c2ee624.fb7028","name":"","topic":"nockanda/pms","qos":"2","datatype":"auto","broker":"8f4f6e74.2997a","nl":false,"rap":true,"rh":0,"x":190,"y":140,"wires":[["ab1d8073.5f332"]]},{"id":"ea1990ee.94de2","type":"debug","z":"7c2ee624.fb7028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":260,"wires":[]},{"id":"ab1d8073.5f332","type":"csv","z":"7c2ee624.fb7028","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":330,"y":200,"wires":[["ea1990ee.94de2","267e92f9.ae386e","3784ce83.04f1b2","36b3d758.8680a8","f2b100f0.349b","22903ad4.7dbc46","e2a777ab.40cd98"]]},{"id":"267e92f9.ae386e","type":"ui_text","z":"7c2ee624.fb7028","group":"2e91c6de.e9a80a","order":4,"width":0,"height":0,"name":"","label":"PM1.0","format":"{{msg.payload.col1}}","layout":"row-spread","className":"","x":510,"y":340,"wires":[]},{"id":"3784ce83.04f1b2","type":"ui_text","z":"7c2ee624.fb7028","group":"2e91c6de.e9a80a","order":4,"width":0,"height":0,"name":"","label":"PM2.5","format":"{{msg.payload.col2}}","layout":"row-spread","className":"","x":510,"y":380,"wires":[]},{"id":"36b3d758.8680a8","type":"ui_text","z":"7c2ee624.fb7028","group":"2e91c6de.e9a80a","order":4,"width":0,"height":0,"name":"","label":"PM10.0","format":"{{msg.payload.col3}}","layout":"row-spread","className":"","x":520,"y":420,"wires":[]},{"id":"f2b100f0.349b","type":"ui_gauge","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":7,"width":0,"height":0,"gtype":"donut","title":"PM1.0","label":"ug/m3","format":"{{msg.payload.col1}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":510,"y":480,"wires":[]},{"id":"22903ad4.7dbc46","type":"ui_gauge","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":7,"width":0,"height":0,"gtype":"donut","title":"PM2.5","label":"ug/m3","format":"{{msg.payload.col2}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":510,"y":520,"wires":[]},{"id":"e2a777ab.40cd98","type":"ui_gauge","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":7,"width":0,"height":0,"gtype":"donut","title":"PM10.0","label":"ug/m3","format":"{{msg.payload.col3}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":520,"y":560,"wires":[]},{"id":"8f4f6e74.2997a","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]